/* ---- margin --- */
.mar-left5 { margin-left: 5px !important; }
.mar-left10 { margin-left: 10px !important; }
.mar-left15 { margin-left: 15px !important; }
.mar-left20 { margin-left: 20px !important; }
.mar-left25 { margin-left: 25px !important; }
.mar-left30 { margin-left: 30px !important; }

.mar-right5 { margin-right: 5px !important; }
.mar-right10 { margin-right: 10px !important; }
.mar-right15 { margin-right: 15px !important; }
.mar-right20 { margin-right: 20px !important; }
.mar-right25 { margin-right: 25px !important; }
.mar-right30 { margin-right: 30px !important; }

/* top */
.mar-top0 { margin-top: 0 !important; }
.mar-top5 { margin-top: 5px !important; }

.mar-top10 { margin-top: 10px !important; }

.mar-top15 { margin-top: 15px !important; }
.mar-top20 { margin-top: 20px !important; }
.mar-top25 { margin-top: 25px !important; }
.mar-top30 { margin-top: 30px !important; }
.mar-top35 { margin-top: 35px !important; }
.mar-top40 { margin-top: 40px !important; }
.mar-top55 { margin-top: 55px !important; }


/* bottom */
.mar-bot0 { margin-bottom: 0 !important; }
.mar-bot5 { margin-bottom: 5px !important; }

.mar-bot10 { margin-bottom: 10px !important; }

.mar-bot15 { margin-bottom: 15px !important; }
.mar-bot20 { margin-bottom: 20px !important; }
.mar-bot25 { margin-bottom: 25px !important; }
.mar-bot30 { margin-bottom: 30px !important; }
.mar-bot35 { margin-bottom: 35px !important; }
.mar-bot40 { margin-bottom: 40px !important; }

/* ---- padding --- */
.pad-left0 { padding-left: 0 !important; }
.pad-left5 { padding-left: 5px !important; }
.pad-left10 { padding-left: 10px !important; }
.pad-left15 { padding-left: 15px !important; }
.pad-left20 { padding-left: 20px !important; }
.pad-left25 { padding-left: 25px !important; }
.pad-left30 { padding-left: 30px !important; }
.pad-left40 { padding-left: 40px !important; }

.pad-right0 { padding-right: 0 !important; }
.pad-right5 { padding-right: 5px !important; }
.pad-right10 { padding-right: 10px !important; }
.pad-right15 { padding-right: 15px !important; }
.pad-right20 { padding-right: 20px !important; }
.pad-right25 { padding-right: 25px !important; }
.pad-right30 { padding-right: 30px !important; }
.pad-right40 { padding-right: 40px !important; }

/* top */
.pad-top0 { padding-top: 0 !important; }
.pad-top5 { padding-top: 5px !important; }

.pad-top10 { padding-top: 10px !important; }

.pad-top15 { padding-top: 15px !important; }
.pad-top20 { padding-top: 20px !important; }
.pad-top25 { padding-top: 25px !important; }
.pad-top30 { padding-top: 30px !important; }
.pad-top35 { padding-top: 35px !important; }
.pad-top40 { padding-top: 40px !important; }


/* bottom */
.pad-bot0 { padding-bottom: 0 !important; }
.pad-bot5 { padding-bottom: 5px !important; }

.pad-bot10 { padding-bottom: 10px !important; }

.pad-bot15 { padding-bottom: 15px !important; }
.pad-bot20 { padding-bottom: 20px !important; }
.pad-bot25 { padding-bottom: 25px !important; }
.pad-bot30 { padding-bottom: 30px !important; }
.pad-bot35 { padding-bottom: 35px !important; }
.pad-bot40 { padding-bottom: 40px !important; }

.menu-logo {
    height: 150px;
    background-color: #009688;
    text-align: center;
}

.menu-logo.ios {
    background-color: white !important;
}

.menu-logo .name {
    color: #FFFFFF;
    margin-left: 2px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.menu-logo .name.ios {
    color: #444;
}

.menu-logo .username {
    color: #FFFFFF;
    margin-left: 2px;
    margin-top: 0px;
}

.menu-logo .username.ios {
    color: #444;
}

.menu-logo .profile-picture {
    border-radius: 50%;
    width: 75px;
    height: 75px;
    margin: 10px;
}

#sidemenu ons-list-item {
    color: #444;
}

.page-title {
    margin-left: 5px !important;
}

.settings-item {
    margin-top: 20px;
}

.full-width {
    width: 100% !important;
}

#settings-page ons-input, #settings-page ons-input input, #settings-page textarea,
#new-message-page ons-input, #new-message-page ons-input input, #new-message-page textarea
{
  width: 90% !important;
}

ons-button[modifier=large] {
  width: initial;
  margin: 10px;
}

ons-splitter-side[side="left"] {
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.highlight {
  background-color: lightyellow;
  color: rgba(255, 0, 0, 0.7);
}

.left-label {
  width: 30%;
  font-size: 16px;
  color: #666
}

.date-humanize {
    opacity: 0.7;
}

.truncate {
  width: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.unread-message {
    font-weight: bold;
}

.unread-message .date-humanize.list-item--material__right {
    color: #009688 !important;
}

.unread-message .date-humanize.list-item__right {
    color: rgba(24, 103, 194, .81);
}

#friends-tab .list-item--material__right .message-icon {
    color: #009688 !important;
}

#friends-tab .list-item__right .message-icon {
    color: rgba(24, 103, 194, .81);
}

#friends-tab .list-item--material__right .invite-icon {
    color: gray !important;
}

#friends-tab .list-item__right .invite-icon {
    color: gray;
}

.angular-with-newlines {
    white-space: pre;
}

ons-card.message-content {
    background-color: #e8f5e8;
    margin-left: 16px;
    margin-right: 16px;
}

ons-pull-hook {
    color: gray;
}

.not-login-page {
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
    color: #e3e8e8;
}
